<!DOCTYPE html>
<html>
<head>
  <title>Posts</title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <h1> Posts</h1>
  <!-- Display the list of existing posts -->
  <ul>
    <!-- Loop through each post in the existingPosts array -->
    <% for(let post of existingPosts){ %>
      <li>
        <!-- Display the Post ID -->
        <span class="post-id">Post ID: <%= post.post_id %></span>
        
        <!-- Display the User's name -->
        <span class="user-name">User: <%= post.first_name %><%= post.last_name %></span>
        
        <!-- Display the Topic name -->
        <span class="topic">Topic: <%= post.topic_name %></span>
        
        <!-- Display the Post title -->
        <span class="title">Title: <%= post.post_title %></span>
        
        <!-- Display the Post content -->
        <span class="post-content">Post: <%= post.post_content %></span>
      </li>
    <% } %>
  </ul>

</body>

</html>
